@charset "utf-8";
html{background:#fff;overflow:auto;}
body{font: 400 14px/18px "Microsoft Yahei","黑体";font-weight:lighter;color:#333;-webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: rgba(0,0,0,0;)}
a{color:#333;text-decoration:none;cursor:pointer;outline: 0 none;}
a:hover{ text-decoration:none;}
a:focus{-moz-outline-style:none; border:0px;blr:expression(this.onFocus=this.blur());}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
fieldset,img {border:0}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:lighter;}
table{border-collapse:collapse; border-spacing:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
select,button{font-family:inherit; font-size:inherit; font-weight:inherit; outline-style:none; outline-width:0pt; padding: 0; margin: 0;}
b,em,i{display:inline-block;font-weight:normal;font-style:normal;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;} .clearfix{ zoom:1;}
.container { width:1200px;  margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.bt{border-bottom: 1px solid #f7f7f7;}

